#visualization .panel-body {
    padding: 0;
}
.grid-rect {
    transition:
      fill-opacity .5s linear,
      fill .5s linear,
      stroke-width .5s linear;
    fill: currentColor;
    stroke: #efefef;
    stroke-width: 0.25;
    fill-opacity: 1;
}
.grid-rect.empty {
    fill-opacity: 0;
}
.x.axis .tick text {
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.y.axis .tick text {
    cursor: pointer;
}
.sortby {
    font-weight: bold;
}
.state > path {
    transition:
      fill-opacity .5s linear,
      fill .5s linear,
      stroke .5s linear;
    stroke-width: 1px;
    stroke: white;
}
.atlas-selected-year {
    fill: black;
    font-size: 3rem;
    text-anchor: middle;
}
.cfi-tabs {
    font-size: 2rem;
    padding-top: 5px;
}
#meta {
    margin-top: 1rem;
}
#meta .panel-heading {
    padding-bottom: 0px;
}
.field-description {
    font-size: 1.2em;
    line-height: 1.4em;
}
.year-sort-instruction {
    font-size: 1.4em;
    line-height: 1.4em;
}
textarea.form-control {
    resize: vertical; /* Limits resize interactions to vertical-only. */
    background-color: white;
}
.legend li {
    font-size: 1.4em;
    margin: 0.2em;
}
.legend li svg {
    width: 20px;
    height: 20px;
}
.legend li span {
    vertical-align: text-top;
}
.highlighted {
    stroke: #ffff00;
    stroke-dasharray: 10, 10;
    fill: none;
    fill-opacity: 0;
}
.chosen {
    stroke-dasharray: none;
}
.grid-rect.highlighted {
    stroke-width: 3px;
}
.year-indicator-overlay {
    fill: none;
    stroke: white;
    stroke-width: 2px;
}
.highlight-overlay {
    pointer-events: none;
}
.highlight-overlay .state {
    stroke-width: 6px;
}
