<!-- CSS for this located in _sass/_cfi-theme.scss -->
<div class="footer-container">
  <div class="footer-left">
    <div class="footer-logo">
      <a href="http://www.cfinst.org/">
        <img src="img/CFI-logo-white.svg">
      </a>
    </div>
    <div>
      <p class="text-muted small">
        © 2017 <a href="http://www.cfinst.org/">The Campaign Finance Institute</a><br>
        1775 Eye St., NW, Suite 1150<br>
        Washington, DC 20006<br>
        202.969.8890<br>
      </p>
      <p class="text-muted small">
        <a href="https://github.com/cfinst/cfinst.github.io">Source Code</a> by <a href="https://datavis.tech">Curran Kelleher</a> and <a href="http://seemantk.com">Seemant Kulleen</a>
      </p>
    </div>
  </div>
 <div class="footer-right">
   Hello
</div>
