<div style="display: flex; justify-content: center">
  <div style="margin-right: 5px;">
    <a href="http://www.cfinst.org/">
      <img style="background-color: #16275a; padding: 5px;" width="57" src="img/CFI-logo-white.svg">
    </a>
  </div>
  <div>
    <p class="text-muted small">
      © 2017 <a href="http://www.cfinst.org/">The Campaign Finance Institute</a><br>
      1775 Eye St., NW, Suite 1150<br>
      Washington, DC 20006<br>
      202.969.8890<br>
    </p>
    <p class="text-muted small">
      <a href="https://github.com/cfinst/cfinst.github.io">Source Code</a> by <a href="http://seemantk.com">Seemant Kulleen</a> and <a href="http://datavis.tech">Curran Kelleher</a>
    </p>
  </div>
</div>
