<ul class="nav nav-tabs cfi-tabs" role="tablist">
  {% for tab in site.data.tabs %}
    <li role="presentation">
      <a href="#{{ tab.section }}"
          aria-controls="{{ tab.section }}"
          role="tab"
          data-toggle="tab">
        {{ tab.title }}
      </a>
    </li>
  {% endfor %}
    <li class="pull-right" role="presentation">
      <a href="http://www.cfinst.org/">
        <span>Campaign Finance Institute</span>
        <img class="cfi-logo-mini" src="img/CFI-logo-mini.svg">
      </a>
    </li>
</ul>
