 // This CSS intents to emulate the CFI theme.
 // Draws from the CFI Web site CSS theme found at
 // http://www.cfinst.org/App_Themes/frange_HomeAlt/css/screen.css

body {
    font:12px/1.2em verdana, arial, sans-serif;
    color: #333;
    background-color:#efefef;
}

label, .chooser, .btn {
    font-size: 12pt;
}

.cfi-tabs {
    font-size: 2.2rem;
    padding-top: 2px;
}

.cfi-tabs li a{
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
 * This styles the small CFI logo in the top right.
 * Here we use negative margins so that the padding applied by
 * Bootstrap to .nav>li>a don't end up adding unnecessary empty space
 * around the image.
 */
.cfi-logo-mini {
    height: 25px;
    margin-top: -10px; /* This positions the logo vertically (pulls it up). */
    margin-bottom: -5px; /* This ensures no unnecessary space below all tabs. */
    margin-left: 8px; /* Add a bit of space between the text and logo. */
}

/*
 * The following CSS styles the footer at the bottom of the page.
 */
.footer {
  margin-top: 30px; /* Separate it a bit from the grid. */
  margin-bottom: 30px; /* White space below. */
  font-size: 12pt;
}
.footer-container {
  display: flex;
  justify-content: center;
}
.footer-logo {
  margin-right: 5px;
}
.footer-logo img {
  background-color: #16275a;
  padding: 5px;
  width: 57px;
}
