.shepherd-content {
    max-width: 50rem; /* # of characters (hopefully) */

    font:12px/1.2em verdana, arial, sans-serif;
    font-size: 2.2rem !important;

    border: 2px red solid;
}

.shepherd-button {
    background-color: darkred !important;
}
