/*
 * Have the map occupy all available vertical space,
 * but allow it to inherit the left and right padding
 * from Bootstrap .panel-body, so that the SVG doesn't
 * go beyond the white panel body area.
 */
#visualization .panel-body {
    padding-top: 0;
    padding-bottom: 0;
}
#visualization .panel{
    margin-bottom: 0;
}
.grid-rect {
    transition:
      color .5s linear,
      fill-opacity .5s linear,
      fill .5s linear,
      stroke-width .5s linear;
    fill: currentColor;
    stroke: #efefef;
    stroke-width: 0.25;
    fill-opacity: 1;
    cursor: pointer; /* Affordance for clickability. */
}
.grid-rect.empty {
    fill-opacity: 0;
}
.x.axis .tick text {
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.y.axis .tick text {
    cursor: pointer;
}
.axis text {
    fill: #333;
}
.axis .tick line, .axis .domain {
    stroke: #333;
    stroke-width: 0.25px;
}

.sortby {
    font-weight: bold;
}
.state {
    stroke-width: 1px;
    stroke: white;
}
.state > path {
    transition:
      color .5s linear,
      fill-opacity .5s linear,
      fill .5s linear,
      stroke-opacity .5s linear,
      stroke .5s linear;
}
.atlas-selected-year {
    fill: black;
    font-size: 3rem;
    text-anchor: middle;
}
#meta {
    padding-left: 0px;
    padding-right: 0px;
}
#meta .panel-heading {
    padding-bottom: 0px;
}
.field-description {
    font-size: 1.2em;
    line-height: 1.4em;
}
.year-sort-instruction {
    font-size: 1.4em;
    line-height: 1.4em;
}
textarea.form-control {
    resize: vertical; /* Limits resize interactions to vertical-only. */
    background-color: white;
}
.legend li {
    font-size: 13pt;
    margin: 0.2em;
}
.legend li svg {
    width: 20px;
    height: 20px;
    stroke-width: 0.12px;
    stroke-opacity: 0;
    stroke: black;
    transition:
      stroke-opacity .5s linear,
      fill .5s linear,
      color .5s linear,
      fill-opacity .5s linear,
      stroke .5s linear;
}
.legend li svg.highlighted {
    stroke-opacity: 1;
}
.legend li span {
    vertical-align: text-top;
    margin-left: 0.5em;
    cursor: default; /* Don't show text cursor on legend text. */
}
/*
TODO reinstate something like this.
Part of https://github.com/cfinst/cfinst.github.io/issues/170
.chosen {
    stroke-dasharray: 10, 10;
    stroke-dasharray: none;
}
*/
.year-indicator-overlay {
    fill: none;
    stroke: white;
    stroke-width: 2px;
}
.highlight-overlay {
    pointer-events: none;
}

.highlighted {
    stroke: black;
}
.grid-rect.highlighted {
    stroke-width: 0.5px;
}
.highlight-overlay .state {
    stroke-width: 1px;
}

/* Styles the arrow that indicates scrollability at the bottom of the page. */
.scroll-indicator {
    text-align: center;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 15px;
    text-shadow: /* Add a thick white shadow, so it can be seen on top of dark colors. */
      0px 0px 4px #fff,
      0px 0px 4px #fff,
      0px 0px 4px #fff,
      0px 0px 4px #fff,
      0px 0px 4px #fff;
    opacity: 0; /* This will be set via JS dynamically, depending on scroll. */
}
