<div class="col-sm-{{ 12 | divided_by: num }}">
<label class="control-label">{{ control.label }}</label>
<select class="form-control chooser" data-name="{{ control.id }}">
  <optgroup label="Select a {{ control.label }}">
    {% for option in control.options %}{% capture value %}{% if option.abbr %}{{ option.abbr }}{% else %}{{ option.label }}{% endif %}{% endcapture %}
      <option value="{{ value }}"
          data-label='{{ option.label }}'
          data-value='{{ value }}'
          data-legend="{% if option.legend %}{{ option.legend }}{% else %}default{% endif %}"
          {% if option.disable %}data-disable="{{ option.disable }}"{% endif %}
        >{{ option.label }}</option>
    {% endfor %}
  </optgroup>
</select>
</div><!--.col-sm-6-->
