<div class="col-sm-12">
  <label class="control-label">Question</label>
  <select class="chooser form-control">
    <optgroup label="Select a Question">
    {% for question in controls %}
      <option value="{{ question.name }}"
           data-legend="{{ question.legend }}"
           data-question="{{ question.question }}"
           data-note='{{ question.note }}'
           data-label='{{ question.label }}'>{{ question.label }}</option>
    {% endfor %}
  </optgroup>
  </select>
</div><!--.col-sm-12-->
</div><!--.form-group-->
<div class="form-group">
<div class="col-sm-12">
  <label class="control-label">Description</label>
  <textarea readonly class="field-description form-control"
      rows="3"
      style="background-color: white;">
  </textarea>
</div><!--.col-sm-12-->
