svg {
    display: block;
}
.grid-rect {
    transition:
      fill-opacity .5s linear,
      fill .5s linear,
      stroke-width .5s linear;
    fill: currentColor;
    stroke: #efefef;
    stroke-width: 0.25;
    fill-opacity: 1;
}
.grid-rect.empty {
    fill-opacity: 0;
}
.x.axis .tick text {
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.y.axis .tick text {
    cursor: pointer;
}
.sortby {
    font-weight: bold;
}
.state > path {
    transition:
      fill-opacity .5s linear,
      fill .5s linear,
      stroke .5s linear;
}
.atlas-selected-year {
    fill: black;
    font-size: 3rem;
    text-anchor: middle;
}
.cfi-tabs {
    font-size: 3rem;
    padding-top: 5px;
}
.control-panel {
    margin-top: 1rem;
}
