svg {
    display: block;
}
.grid-rect {
    transition:
      fill-opacity .5s linear,
      fill .5s linear;
    fill: currentColor;
    stroke: none;
    fill-opacity: 1;
}
.grid-rect.empty {
    fill-opacity: 0;
}
.tick text {
    font-size: larger;
}
.x.axis .tick text {
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.y.axis .tick text {
    cursor: pointer;
}
.sortby {
    font-weight: bold;
}
