{% include head.html %}

<body>
<header class="container-fluid">
  <nav>
    <ul class="nav nav-tabs cfi-tabs" role="tablist">
      {% for tab in site.data.tabs %}
      <li role="presentation">
        <a href="#{{ tab.section }}"
        aria-controls="{{ tab.section }}"
        role="tab"
        data-toggle="tab">
        {{ tab.title }}
      </a>
    </li>
    {% endfor %}{% comment %}tabs in site.data.tabs{% endcomment %}
    </ul>
  </nav>
</header>

<div class="container-fluid">
  <section id="visualization" class="col-md-6">
    <svg id="map"></svg>
  </section><!--.col-lg-8-->

  <section id="meta" class="col-md-6">
    <div class="tab-content">
    {% for tab in site.data.tabs %} {% comment %}The active pane will be set via javascript{% endcomment %}
      <article role="tabpanel" id="{{ tab.section }}" class="tab-pane">
        <aside class="about-buttons-and-modals">
          <div role="group" class="about-buttons btn-group btn-group-justified">
            {% for button in site.data.buttons.about %}
              <div class="btn-group" role="presentation">
                <a id="{{ tab.section }}-{{ button.name }}-button"
                  class="btn btn-default btn-block col-sm-2"
                  role="button"
                  data-toggle="modal"
                  href="../modals/{{ tab.section }}-{{ button.name }}.html"
                  data-target="#{{ tab.section }}-{{ button.name }}-modal">
                {{ button.text }}
                </a>
              </div><!--.btn-group--><!--hack for IE8 + borders-->
            {% endfor %}{% comment %}site.data.buttons.about{% endcomment %}
          </div><!--.about-buttons-->
          {% for button in site.data.buttons.about %}{% comment %}Generate the Modals{% endcomment %}
            <div class="modal fade" id="{{ tab.section }}-{{ button.name }}-modal"
                tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content"></div><!--.modal-content-->
              </div><!--.modal-dialog-->
            </div><!--.modal-{{ button.name }}-->
          {% endfor %}
        </aside><!--.modal-container-->

        <div class="panel panel-default">
          <div class="panel-heading">
            <form class="controls-form form-horizontal">
            {% for fieldset in site.data.fields %}
            {% if fieldset[0] == tab.section %}
              {% for group in fieldset[1].controls %}
                {% capture num %}{{ group.dropdowns | size }}{% endcapture %}
                <div class="form-group controls-{{ group.group }}">
                {% for control in group.dropdowns %}
                  <div class="col-sm-{{ 12 | divided_by: num }}">
                      <label class="control-label">{{ control.label }}</label>
                      <select class="chooser form-control" id="chooser-{{ control.id }}">
                        <optgroup label="Select a {{ control.label }}">
                        {% for option in control.options %}
                          {% capture value %}{% if option.abbr %}{{ option.abbr }}{% else %}{{ option.text }}{% endif %}{% endcapture %}
                          <option value="{{ value }}">{{ option.text }}</option>
                        {% endfor %}{% comment %}option in control.options{% endcomment %}
                        </optgroup>
                      </select>
                  </div><!--.col-sm-6-->
                {% endfor %}{% comment %}control in group.dropdowns{% endcomment %}
              </div><!--.form-group-->
              {% else %}{% comment %}no fieldset[1].controls{% endcomment %}
                <div class="form-group">
                  <div class="col-sm-12">
                    <label class="control-label">Question</label>
                    <select class="chooser form-control">
                      <optgroup label="Select a Question">
                      {% for question in fieldset[1] %}
                        <option value="{{ question.name }}">{{ question.label }}</option>
                      {% endfor %}
                    </optgroup>
                    </select>
                  </div><!--.col-sm-12-->
                </div><!--.form-group-->
                <div class="form-group">
                  <div class="col-sm-12">
                    <label class="control-label">Description</label>
                  {% for question in fieldset[1] %}
                    <textarea id="{{ question.name | downcase}}"
                      readonly
                      rows="3"
                      class="field-description form-control"
                      style="background-color: white;"
                      >{{ question.notes }}</textarea>
                  {% endfor %}{% comment %}question in fieldset[1]{% endcomment %}
                </div><!--.col-sm-12-->
                </div><!--.form-group-->
              {% endfor %}{% comment %}fieldset[1].controls{% endcomment %}
            {% endif %}
            {% endfor %}
            </form><!--.controls-form-->
          </div><!--.panel-heading-->
          <div class="panel-body">
            <section id="legend" class="col-sm-6">
              <svg id="color-legend"></svg>
            </section><!--.col-sm-6#legend-->
            <div class="col-sm-6">
              {% include buttons/download.html %}
            </div><!--.col-sm-6-->
          </div><!--.panel-body-->
        </div><!--.panel-->
      </article><!--.tab-pane-->
    {% endfor %}
    </div><!--.tab-content-->
  </section><!--.col-md-6#meta-->

  <section id="grid-view" class="col-md-12">
    <figure class="grid">
      <div class="row">
        <div class="col-sm-9">
          <p class="year-sort-instruction">Click on a year to re-sort the grid.</p>
        </div>
        <div class="col-sm-3">
          <button class="col-sm-6 btn btn-default btn-block alphabetize-states-button">
            <i class="fa fa-sort-alpha-asc"></i> Sort States Alphabetically
          </button>
        </div>
      </div>
      <svg id="main"></svg>
    </figure>
  </section><!--.col-md-12-->
</div>

{% include javascripts.html %}

</body>
</html>
